Repository LeonardoTPereira/GGJ2023, pull requests merged in 2023-04, with the labels that each got.

#109 Death effect
  Assets/Prefabs/Enemies/Enemy1.prefab
  Assets/Prefabs/Enemies/Enemy2.prefab
  Assets/Prefabs/Enemies/Enemy3.prefab
  Assets/Prefabs/Enemies/Enemy4.prefab
  Assets/Prefabs/New Material.mat
  Assets/Prefabs/New Material.mat.meta
  Assets/Prefabs/Particles/Damage/BossDamageParticle.prefab
  Assets/Prefabs/Particles/Damage/DamageParticle.prefab
  Assets/Prefabs/Particles/ExplosionDeathParticle.prefab
  Assets/Prefabs/Particles/ExplosionDeathParticle.prefab.meta
  Assets/Scenes/Game/NewGame.unity
  Assets/Scenes/TestScenes/Amanda/1_Game DeathEffect.unity
  Assets/Scenes/TestScenes/Amanda/1_Game DeathEffect.unity.meta
  Assets/Scenes/TestScenes/Amanda/1_Game Effects.unity
  Assets/Scenes/TestScenes/VFX.unity
  Assets/Scripts/Effects/DamageEffect.cs
  Assets/Scripts/Entity/Enemy/Health.cs
  ProjectSettings/TagManager.asset
Labels: bug, art & animation

#116 ✨ Adds audio to Mad Mantis' attacks and player steps
  Assets/Prefabs/AudioManagers.meta
  Assets/Prefabs/AudioManagers/MainMenuAudioManager.prefab
  Assets/Prefabs/AudioManagers/MainMenuAudioManager.prefab.meta
  Assets/Prefabs/AudioManagers/MantisAudioManager.prefab
  Assets/Prefabs/AudioManagers/MantisAudioManager.prefab.meta
  Assets/Scenes/TestScenes/Boss.unity
  Assets/Scripts/Entity/Boss/MadMantis/Health.cs
  Assets/Scripts/Entity/Boss/MadMantis/Manager.cs
  Assets/Scripts/Entity/Player/Animator.cs
  Assets/Scripts/Gameplay/Audio/Audios.cs
  Assets/Shaders/Shader Graphs_LitEnrageGraph.mat
  Assets/Sounds/SFXs/ANTS_MANTIS_ATAQUE_HOR.mp3
  Assets/Sounds/SFXs/ANTS_MANTIS_ATAQUE_HOR.mp3.meta
  Assets/Sounds/SFXs/ANTS_MANTIS_ATAQUE_VERT.mp3
  Assets/Sounds/SFXs/ANTS_MANTIS_ATAQUE_VERT.mp3.meta
  Assets/Sounds/SFXs/ANTS_MANTIS_DANO.mp3
  Assets/Sounds/SFXs/ANTS_MANTIS_DANO.mp3.meta
  Assets/Sounds/SFXs/ANTS_MANTIS_MORTE.mp3
  Assets/Sounds/SFXs/ANTS_MANTIS_MORTE.mp3.meta
  Assets/Sounds/SFXs/ANTS_MANTIS_SOM_DO_TIRO.wav
  Assets/Sounds/SFXs/ANTS_MANTIS_SOM_DO_TIRO.wav.meta
Labels: bug, enhancement, sound & music

#115 ✨ Level Changer
  Assets/Animators/LevelChanger.meta
  Assets/Animators/LevelChanger/Fade_In.anim
  Assets/Animators/LevelChanger/Fade_In.anim.meta
  Assets/Animators/LevelChanger/Fade_Out.anim
  Assets/Animators/LevelChanger/Fade_Out.anim.meta
  Assets/Animators/LevelChanger/LevelChanger.controller
  Assets/Animators/LevelChanger/LevelChanger.controller.meta
  Assets/Prefabs/LevelChanger.prefab
  Assets/Prefabs/LevelChanger.prefab.meta
  Assets/Scenes/Game/1_Game.unity
  Assets/Scripts/UI/LevelChanger.meta
  Assets/Scripts/UI/LevelChanger/LevelChanger.cs
  Assets/Scripts/UI/LevelChanger/LevelChanger.cs.meta
  Assets/Scripts/UI/LevelChanger/NextSceneSetter.cs
  Assets/Scripts/UI/LevelChanger/NextSceneSetter.cs.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: gameplay

#117 🐛Fix player animations not overlapping
  Assets/Animators/LowerBody.mask
  Assets/Animators/LowerBody.mask.meta
  Assets/Animators/UpperBody.mask
  Assets/Animators/UpperBody.mask.meta
  Assets/Animators/entity_000.controller
  Assets/Scenes/Game/1_Game.unity
  Assets/Scripts/Entity/Player/Animator.cs
  Assets/Scripts/Entity/Player/Weapon.cs
Labels: bug, art & animation
