Repository LeonardoTPereira/GGJ2023, pull requests merged in 2023-02, with the labels that each got.

#29 Fixes WebGL build by removing support on WebGL 1.0
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/BurstAotSettings_WebGL.json
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
  UserSettings/EditorUserSettings.asset
  UserSettings/Layouts/default-2021.dwlt
Labels: bug

#40 Implement player animations
  Assets/Prefabs/Bullets/StraightBullet.prefab
  Assets/Prefabs/Particles/Damage.meta
  Assets/Prefabs/Particles/Damage/DamageParticle.prefab
  Assets/Prefabs/Particles/Damage/DamageParticle.prefab.meta
  Assets/Prefabs/Particles/Death.meta
  Assets/Prefabs/Particles/Death/DeathParticle.prefab
  Assets/Prefabs/Particles/Death/DeathParticle.prefab.meta
  Assets/Prefabs/Player/PlayerAndCamera.prefab
  Assets/Scenes/TestScenes/TyagoTeoi/player-camera.unity
  Assets/Scenes/TestScenes/VFX.unity
  Assets/Scenes/TestScenes/VFX.unity.meta
  Assets/Scenes/VFX.unity
  Assets/Scripts/Animation.meta
  Assets/Scripts/Gameplay/Health/PlayerHealth.cs
  Assets/Scripts/Gameplay/Player/PlayerWeapon.cs
  Assets/Sprites 1/Bala.png
  Assets/Sprites/Bullet.png
  Assets/Sprites/Enemies/inimigo1/entity_000.prefab
  Assets/Sprites/Enemies/inimigo2/entity_000.prefab
  Assets/Sprites/Enemies/inimigo3/entity_000.prefab
  Assets/Sprites/Player/FORMIGA/entity_000.controller
  Assets/Sprites/Player/FORMIGA/entity_000.prefab
  Assets/Sprites/Textures/Circulo.png
  Assets/Sprites/Textures/Circulo.png.meta
  Assets/Sprites/Textures/dirt_03.png
  Assets/Sprites/Textures/dirt_03.png.meta
  Assets/Tarodev 2D Controller/_Scripts/PlayerAnimator.cs
  Assets/Tarodev 2D Controller/_Scripts/PlayerController.cs
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/TagManager.asset
  ProjectSettings/VFXManager.asset
  UserSettings/EditorUserSettings.asset
Labels: enhancement, art & animation, gameplay

#59 Fix player shots and sorting layers
  Assets/Materials/MadMantisMaterial.mat
  Assets/Prefabs/Bosses/LeftHorizontalAttack.prefab
  Assets/Prefabs/Bosses/LeftVerticalAttack.prefab
  Assets/Prefabs/Bosses/MadMantis.prefab
  Assets/Prefabs/Bosses/RightHorizontalAttack.prefab
  Assets/Prefabs/Bosses/RightVerticalAttack.prefab
  Assets/Prefabs/Bullets/StraightBullet.prefab
  Assets/Prefabs/Enemies/Bullets/GravityAcid.prefab
  Assets/Prefabs/Enemies/Bullets/GravityAcidOld.prefab
  Assets/Prefabs/Enemies/Bullets/NonGravityAcid.prefab
  Assets/Prefabs/Enemies/Bullets/NonGravityAcidOld.prefab
  Assets/Prefabs/Enemies/Enemy1.prefab
  Assets/Prefabs/Enemies/Enemy2.prefab
  Assets/Prefabs/Enemies/Enemy3.prefab
  Assets/Prefabs/Enemies/Enemy4.prefab
  Assets/Prefabs/Particles/Damage/BossDamageParticle.prefab
  Assets/Prefabs/Particles/Damage/DamageParticle.prefab
  Assets/Prefabs/Particles/Death/BossDeathParticle.prefab
  Assets/Prefabs/Particles/Death/DeathParticle.prefab
  Assets/Prefabs/Particles/FirstGun/MuzzleEffectParticle.prefab
  Assets/Prefabs/Particles/FirstGun/SmokeParticle.prefab
  Assets/Prefabs/Particles/FirstGun/UsedBulletsParticle.prefab
  Assets/Prefabs/Player/Player.prefab
  Assets/Prefabs/Player/PlayerAndCamera.prefab
  Assets/Scenes/Game/1_Game.unity
  Assets/Scripts/Gameplay/Player/PlayerWeapon.cs
  Assets/Sprites/Player/FORMIGA/entity_000.prefab
  Assets/Sprites/Scenario/Level1/Tiles/tile2 (1).png.meta
  ProjectSettings/GraphicsSettings.asset
  ProjectSettings/TagManager.asset
  ProjectSettings/TimelineSettings.asset
Labels: bug, art & animation, gameplay
